<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">CAM e-Reference</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/t&c">Terms and Conditions</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/drug/listDrugs">General Search</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/drug/listDrugsSearch">CAM Free-Text Search</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/drug/listDrugsSelect">Indication Search</a>
        </li> --}}


      </ul>
      {{!-- <form class="form-inline mt-2 mt-md-0" id="search-form" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search-input"
          name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> --}}
    </div>
  </nav>
</header>