<br></br>
<h1>About</h1>

<p>This website is intended as an analysis and interactive tool for users to allow them to discover and correlate the
    huge amount of information about pharmaceutical care. The release of this website is for
    informational and educational purposes only, and is not a basis for therapeutic decisions, nor a substitute for
    professional judgement.

    Information provided by this website is extracted from peer-reviewed, published literature and other publicly
    available sources. Every effort has been made to ensure that this product contains information which is accurate and
    up-to-date, but no guarantee is made to that effect. Additionally, the drug information contained herein may also be
    time sensitive. The user can approach the data provided by the database from various different perspectives. We are
    not responsible for the misinterpretation of data by the user in any way.</p>
<p>Version: 1.0.0</p>
<p>Created by: {{author}}</p>