<br></br>
<h1>Terms and Conditions</h1>

<h4>General Information</h4>

<p>This website is an ongoing effort aimed to provide information on drug therapy, drug interactions and issues related
    to the provision of pharmaceutical care. It is developed by the Department of Pharmacy, National University of
    Singapore as part of a research project for doctoral studies. The information provided is intended for use by
    healthcare professionals and pharmacists, students in the health sciences and the general public in Singapore.


    By using this product, you acknowledge the acceptance of the terms and conditions explicitly mentioned in this
    website, including the restrictions, disclaimers and limitations. You agree that we are not responsible for
    the results of your decisions resulting from the use of the product. This includes, but is not limited to,
    your choice of whether to seek or not to seek professional medical care, specific medical treatments and/or
    drug therapy.


</p>

{{!-- <h4>About This Site</h4>
<p>
    This website is intended as an analysis and interactive tool for users to allow them to discover and correlate
    the huge amount of information about pharmaceutical care. The release of the website is for
    informational and educational purposes only, and is not a basis for therapeutic decisions, nor a substitute
    for professional judgement.

    Information provided by this website is extracted from peer-reviewed, published literature and other publicly
    available sources. Every effort has been made to ensure that this product contains information which is
    accurate and up-to-date, but no guarantee is made to that effect. Additionally, the drug information contained
    herein may also be time sensitive. The user can approach the data provided by the database from various
    different perspectives. We are not responsible for the misinterpretation of data by the user in any way.
</p> --}}

<h4>Advertising</h4>

<p>
    The CAM Database is a non-commercial database created as part of a postgraduate research project
    financed by a startup grant from the Faculty of Science, National University of Singapore. This site is not
    sponsored by any other organisations and is not funded by advertising.
</p>

<h4>Privacy Policy</h4>

<p>
    Any personally identifiable information collected from the usage of the database remains highly confidential and
    will not be used for any other purpose besides facilitating the usage of the database.
</p>

<h4>User Risks</h4>

<p>The product is an informational resource designed to provide healthcare professionals and students in the health
    sciences, as well as the general public with information related to drug therapies and pharmaceutical care.
    Healthcare professionals should use their professional judgment in utilizing the information provided. This
    product is not a substitute for the care provided by practicising healthcare professionals and consumers are urged
    to consult with their healthcare professional in all instances. The absence of a warning for a given drug or drug
    combination does not indicate that the drug or drug combination is safe, effective or appropriate for any given
    patient and should not be interpreted as such.
</p>

<p>
    By accessing and using the website, the user acknowledges that he/she has been made aware of
    the disclaimers in this agreement, specifically including those which state that the database is solely based on
    a selected compilation of publicly available literature, that the database is not a substitute for an
    individual’s professional judgment, and that the Department of Pharmacy, National University of Singapore makes
    no warranty on the accuracy, validity, completeness or availability of the information cited in this database.
</p>

<p>
    Disclaimer: This database is for informational and educational purposes only, and is not a basis for therapeutic
    decisions, nor a substitute for professional judgement. The absence of a warning for a given drug or drug
    combination
    does not indicate that the drug or drug combination is safe, effective or appropriate for any given patient.
    Users are urged to read our terms and conditions of use for detailed information. By using this database, the user
    acknowledges that he/she has been made aware of the disclaimers in this agreement
</p>


<p>Version: 1.0.0</p>
<p>Created by: {{author}}</p>